<div fxLayout="column" fxLayoutAlign="stretch" fxFlexFill>
  <div fxLayout="row">
    <div fxFlex="25" *ngFor="let stat of globalStatsCards">
      <cvd-statistic-card [stat]="stat"></cvd-statistic-card>
    </div>
  </div>
  <div class="dashboard__charts">
    <div class="dashboard__charts__row--50" fxLayout="row" fxLayoutAlign="stretch">
      <div fxFlex="50">
        <ngx-charts-bar-vertical
          *ngIf="ngxChartOptions"
          [view]="ngxChartOptions.view"
          [scheme]="ngxChartOptions.colorScheme"
          [results]="ngxChartData.single"
          [gradient]="ngxChartOptions.gradient"
          [xAxis]="ngxChartOptions.showXAxis"
          [yAxis]="ngxChartOptions.showYAxis"
          [legend]="ngxChartOptions.showLegend"
          [showXAxisLabel]="ngxChartOptions.showXAxisLabel"
          [showYAxisLabel]="ngxChartOptions.showYAxisLabel"
          [xAxisLabel]="ngxChartOptions.xAxisLabel"
          [yAxisLabel]="ngxChartOptions.yAxisLabel">
        </ngx-charts-bar-vertical>
      </div>
      <div fxFlex="50">
        <ngx-charts-bar-vertical-stacked
          *ngIf="ngxChartOptions"
          [view]="ngxChartOptions.view"
          [scheme]="ngxChartOptions.colorScheme"
          [results]="ngxChartData.multi"
          [gradient]="ngxChartOptions.gradient"
          [xAxis]="ngxChartOptions.showXAxis"
          [yAxis]="ngxChartOptions.showYAxis"
          [legend]="ngxChartOptions.showLegend"
          [showXAxisLabel]="ngxChartOptions.showXAxisLabel"
          [showYAxisLabel]="ngxChartOptions.showYAxisLabel"
          [xAxisLabel]="ngxChartOptions.xAxisLabel"
          [yAxisLabel]="ngxChartOptions.yAxisLabel">
        </ngx-charts-bar-vertical-stacked>
      </div>
    </div>
    <div class="dashboard__charts__row--50" fxLayout="row" fxLayoutAlign="stretch">
      <div fxFlex>
        <cvd-chart-card [chartData]="chartPieData" [chartOptions]="chartPieOptions" fxLayout="column" fxFlexFill></cvd-chart-card>
      </div>
      <div fxFlex>
        <cvd-chart-card [chartData]="chartPieData" [chartOptions]="chartPieOptions" fxLayout="column" fxFlexFill></cvd-chart-card>
      </div>
      <div fxFlex>
        <cvd-chart-card [chartData]="chartPieData" [chartOptions]="chartPieOptions" fxLayout="column" fxFlexFill></cvd-chart-card>
      </div>
    </div>
  </div>
</div>
