<div fxLayout="column" fxLayoutAlign="stretch" fxFlexFill>
  <div fxLayout="row">
    <div fxFlex="25" *ngFor="let stat of globalStats">
      <cvd-statistic-card [stat]="stat"></cvd-statistic-card>
    </div>
  </div>
  <div class="dashboard__charts">
    <div class="dashboard__charts__row--50" fxLayout="row" fxLayoutAlign="stretch">
      <div fxFlex="50">
        <cvd-chart-card [chartData]="globalStats" [chartOptions]="chartLineOptions" fxLayout="column" fxFlexFill></cvd-chart-card>
      </div>
      <div fxFlex="50">
        <cvd-chart-card [chartData]="globalStats" [chartOptions]="chartColumnOptions" fxLayout="column" fxFlexFill></cvd-chart-card>
      </div>
    </div>
    <div class="dashboard__charts__row--50" fxLayout="row" fxLayoutAlign="stretch">
      <div fxFlex="33">
        <cvd-chart-card [chartData]="globalStats" [chartOptions]="chartSemiCirclePieOptions" fxLayout="column" fxFlexFill></cvd-chart-card>
      </div>
      <div fxFlex="33">
        <cvd-chart-card [chartData]="globalStats" [chartOptions]="chartFunnelOptions" fxLayout="column" fxFlexFill></cvd-chart-card>
      </div>
      <div fxFlex="33"></div>
    </div>
  </div>
</div>
