<article class="about-article">
  <h1>Hi There</h1>
  <p>
    This Angular application has been feed with data coming from free API
    service:<br />
    <a href="https://about-corona.net">https://about-corona.net/</a>.
  </p>
  <p>
    Charts are build with
    <a href="https://www.highcharts.com/">highcharts</a> and data is cleverly
    transformed using web workers.
  </p>
  <p>
    Developed as a side project by
    <a href="https://pawelpiotrowski.dev">Pawel Piotrowski</a>.
  </p>
</article>
