$cvd-primary: mat-palette($mat-indigo, 800, 300, 900);
$cvd-accent: mat-palette($mat-light-blue);
$cvd-warn: mat-palette($mat-pink, 600);

$cvd-theme: mat-light-theme(
  $cvd-primary,
  $cvd-accent,
  $cvd-warn
);

$cvd-color-warn: map-get($mat-amber, 400);
$cvd-color-scs: map-get($mat-green, 400);
$cvd-color-err: map-get($mat-red, 400);
$cvd-color-neut: map-get($mat-light-blue, 400);
